

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type="text/css" href="/vm_study/js/index.css"/>
  <
  <!-- 引入插件的 css 样式 -->
  <link rel="stylesheet" type="text/css" href="https://os.alipayobjects.com/rmsportal/UBXCMkzNVlaZYNs.css">

</head>
<body>
   <div id="react-content"></div>
</body>
  <script src="/vm_study/js/common.js"></script>
  <script src="/vm_study/js/index.js"></script>
</html>


